.container {
    width: 100vw;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #fff;
}

.fixedHeader {
    /*
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    */
    padding: 16px;
    box-sizing: border-box;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 32px;
}

.backButton {
    background: none;
    border: none;
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
    color: #222;
    position: absolute;
    left: 0;
    font-weight: 900;
    margin-left: 0px;
}

.title {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
}

.content {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    margin-bottom:-40px;
}

.benefitListColumn {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 3px;
}

.brandTitleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 8px;
}

.brandTitle {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.starButton {
    background: none;
    border: none;
    font-size: 20px;
    color: #654EFF;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}


