.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background-color: #fff;
    padding: 24px 20px 20px;
    border-radius: 20px;
    max-width: 280px;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

.closeIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.closeIcon {
    background-color: #eee;
    color: #654EFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.text {
    font-size: 16px;
    font-weight: 700;
    color: #222;
    margin-bottom: 8px;
    margin: 0;
}

.subtext {
    font-size: 12px;
    color: #666;
    margin-bottom: 24px;
}

.buttonGroup {
    display: flex;
    gap: 12px;
    justify-content: center;
}

/* 버튼 공통 */
.button {
    flex: 1;
    padding: 9px 0;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
}

/* 네 버튼 */
.confirmButton {
    background-color: #654EFF;
    color: white;
}

.confirmButton:active {
    background-color: #503dd6;
}

/* 아니요 버튼 */
.cancelButton {
    background-color: #f2f2f2;
    color: #555;
}

.cancelButton:active {
    background-color: #ddd;
}
