.pageWrapper {
    padding: 16px;
    font-family: 'Pretendard', sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 70px;
}


.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 21px;
    font-weight: 600;
    color: #222;
    margin-bottom:0; /* 마진 제거 */
    margin-top:40px;
}

.backButton {
    background: none;
    border: none;
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
    color: #222;
    position: absolute;
    left: 0;
    font-weight: 900;
    margin-top:40px;
}

